.stranger {
    width: 100% !important;
    overflow: hidden;
}.stranger .imag {
    cursor: pointer;
    transition: 0.2;
    position: relative;
}
.stranger .imag::before,
.stranger .imag::after {
    content: '';
    position: absolute;
    left: 0;
    height: 50%;
    width: 100%;
}
.stranger .imag::before {
    bottom: 50%;
}
.stranger .imag::after {
    top: 50%;
}
.stranger .imag:hover::before,
.stranger .imag:hover::after {
    background-color:rgba(57, 175, 163, 0.3);
    height: 0;
    transition: 0.7s height ease-in-out;
}
@media (max-width: 567px) {
    .stranger .imgs-box {
        width: 100% !important;
    }
}

